.van-toast{
      width auto!important
      height auto
      max-width inherit!important
      min-height inherit!important
      background-color inherit!important
      .van-icon{
        .van-icon__image{
          width 12rem
          height 12rem
        }
      }
    }