.van-toast{
       width auto!important
       height auto
       max-width inherit!important
       min-height inherit!important
       background-color inherit!important
       .van-icon{
         .van-icon__image{
           width 12rem
           height 12rem
         }
       }
     }
#error{
  text-align center
  .errorCode{
    width: 100%;
    position: absolute;
    top: 25vh;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #393D65;
  }
  .errorText{
    margin-bottom 3rem
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #ec2239, #40a4e2,#ea96f5);
  }
}
#vempty{
  text-align center
  .emptyText{
    color #7B8184
  }
}